*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
}
main {
  margin: 5px;
  text-align: center;
  flex-direction: row;
  width: 90vw;
  height: 100%;
  background-color: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  }
.btn{
  margin: 20px;
  padding: 15px;
  background-color: black;
  border: 2px solid blue;
  border-radius: 50px;
}
 img {
   margin: 20px;
   width: auto;
   height: 25%;
   object-fit: contain;
            }
h1 {
 font-size: 30px;
 justify-content: center;
 align-items: center;
 text-align: center;
}
